<!DOCTYPE html>
<html>
    <head>
        <title>cgpa_predict</title>
    </head>
    <body>
    <h1 style="text-align:center;color:blue">PACKAGE PREDICTION APPLICATION</h1>
    <hr>

    <div>
        <form method="post" action="/predict">
            <table border="3" align="center" cellpadding="30">
                <tr >
                    <td>cgpa</td>
                    <td><input type="text" name="cgpa"></td>
                </tr>
                <tr>
                    <td><button type="submit">SUBMIT</button></td>
                </tr>

            </table>




    </div>
    </body>
</html>